@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*, :root {
  margin: 0;
  padding: 0;

  font-family: 'Inter', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: grayscale;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #ffffff;
}

main {
  padding: 24px;
  max-width: 700px;
  margin:0 auto 64px;
  }

header {
  margin-top: 64px;
  padding-bottom: 24px;
   
}

header h1 {
  margin-top: 24px;
  font-size: 33px;
  color: #181d49; 
}

#quiz {
  counter-reset: quiz-item;
}

.quiz-item {
  margin-top: 24px;
  border: 1px solid #475569;
  border-radius: 1px;

  overflow: hidden;
}

.quiz-item h3:before {
  counter-increment: quiz-item;
  content: counter(quiz-item);

  background-color: #0547a3;
  width: 38px;
  height: 38px;
  font-size: 19px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.quiz-item h3 {
  padding: 16px 20px;
  color: #e9ebf2;

  display: flex;
  align-items: center;
  gap: 12px;

  background-color: #0f1387;
}

.quiz-item dl {
  padding: 20px 24px;

  display: grid;
  gap: 8px;  
}

.quiz-item dl dt {
  font-size: 18px;
  line-height: 4px;
  letter-spacing: 0;

  display: flex;
  align-items: center;
  gap: 8px;  

    color:#020101;
}

input {
  all: unset;
  border: 2px solid #070809;
  width: 16px;
  height: 16px;
  
  border-radius: 50%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

input:checked {
  border: 1px solid #9bcb4d;
}

input:checked::before {
  content: "";
  width: 10px;
  height: 10px;

  background-color: #9bcb4d;
  border-radius: 50%;
}

/*declaração*/

#acertos {
  text-align: center;
  background-color: #9bcb4d;

  position: fixed;
  bottom:0;
  left: 0;

  width: 100%;
  padding: 12px;
}